@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rye", serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('images/basement.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    cursor: none; /* Hide default */
}

.rules{
    text-decoration: none;
    background-color: rgb(1, 111, 207);
}

.planchette-cursor {
    width: 50px; /* Adjust size */
    height: 50px;
    background-image: url('images/planchette.png');
    background-size: cover;
    position: absolute;
    pointer-events: none; /* Ensure it doesn't interfere with clicks */
    z-index: 9999;
}

.ouija-board-build {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ouija-board-salutation{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ouija-board-standard {
    display: grid;
    grid-row: auto;
    justify-content: center;
    align-items: center;
}

.board-image {
    background-image: url('images/blank-ouija-board.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    width: 1200px;
    
}

.ouija-riddle-build{
    background-color: rgb(1, 111, 207);
}



