@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rye", serif;
}

h1 {
    font-size: 80px;
}

body {
    background-image: url('images/basement.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    cursor: none; /* Hide default */
}

.rules{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(215, 240, 255, 0.708);
     background-image: linear-gradient(to bottom, #016fcfae 30%, #016fcf04 60%);
}

.ouija-rule-main, li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}



.planchette-cursor {
    width: 145px; /* Adjust size */
    height: 190px;
    background-image: url('images/derezplanch.png');
    background-size: cover;
    position: absolute;
    pointer-events: none; /* Ensure it doesn't interfere with clicks */
    z-index: 9999;
}

.ouija-board-build {
    background-image: url('images/blank-ouija-board1.jpg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.ouija-function div{
    pointer-events: auto;
}

.ouija-function div:hover {
    color: #6ec23aef;
}

/* .ouijaChoice div:click {

} */


.board-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 100%;
    margin: 2em;
    padding: 30px;
    font-size: 40px;
}

#start-bttn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 30px;
    background-color: #016fcfae;
    color: rgba(215, 240, 255, 0.708);
}

.ouija-riddle-build{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.riddle-answer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    color: #457c22ef; 
    -webkit-text-stroke: 1.70px black;
    font-size: 65px;
}



